.box-input{
    height: 300px;
    width: 80%;
    margin: 0 auto;
   
}

.item{
    display: flex;
    margin-top: 5%;
}

.p-item{
    margin: 0;
}

.hola{
    background-color: red;
}

.box-jug{
    display: inline-block;
    width: 100%;
}