*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(233, 229, 229);
}


h4{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

h3{
    font-size: 20px;
}

.container{
    width: 90%;
    height: 400px;
    margin-top: 5rem;
}

.col{
  border: 1px solid rgba(121, 119, 119, 0.7) ;
  box-shadow: 2px 2px 2px 1px rgba(121, 119, 119, 0.7);
  border-radius: 15px;
  height: 8rem;
  margin: 13px;
  background-color:white;
}

.iconos{
   display: flex;
   margin: auto;
   margin-top: 30px;
}

.links{
    text-decoration: none;
    color: rgb(83, 81, 81);
}