*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url("../img/padel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 830px;

}

h1{
    
    display: flex;
    justify-content: center;
    color: white;
}


.email, .contraseña{
    margin: 0 auto;
    margin-top: 20px;
}

.error{
    border: 3px solid red;
}

.correcto{
    border: 3px solid green;
}

.boton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
    
}

.texto{
    margin-top: 20px;
    margin-left: 5px;
    color: white;
}

.modal{
    display: none;
    position: absolute;
    top: 280px;
    left: 70px;
    border-radius: 10px;
    z-index: 1; /* Sit on top */
    width: 60%; /* Full width */
    height: 10%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9);
}
.parrafo{
    font-size: 20px;
}

.parrafo, .titulo_modal{
    display: flex;
    justify-content: center;
    color: white;
}

.incomplete{
    display: none;
    color: red;
    font-weight: bold;
}

.img_titulo{
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 30px;
}