*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url();
}

h1{
    display: flex;
    justify-content: center;
}

.form{
    width: 50%;
    margin: 0 auto;
    height: 300px;
}

.fecha{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin: 10% 0;
}

