*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/padel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 830px;
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    
}

.check_datos{
    color: white;
    margin-left: 30px;
}

.email, .contraseña, .boton{
    margin: auto;
    margin-top: 1rem;
}

.boton{
    width: 100%;
    height: 3rem;
    border-radius: 30px;
    margin-left: 30px;
}

.img_titulo{
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 80px;
    
}

.texto_inicio{
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
    margin-top: 30px;
    font-size: 20px;
}

.img_icono{
    width: 4rem;
    
}

.img_icono1{
    width: 3rem;
    height: 3rem;
}

.iconos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    height: fit-content;
}

