*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/padel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 830px;
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    
}

.check_datos{
    color: white;
    margin-left: 30px;
}

.email, .contraseña, .boton{
    margin: auto;
    margin-top: 2rem;
}

.boton{
    width: 100%;
    height: 3rem;
    border-radius: 30px;
    margin-left: 30px;
}

.img_titulo{
    width: 500px;
    height: 200px;
}

.box{
    height: 200px;
}

.box-img{
    height: 150px;
}

.img-box{
    width: 25rem;
    margin-top: 20px;
}

.texto_inicio{
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
    margin-top: 30px;
    font-size: 20px;
}

.img_icono{
    width: 4rem;
    
}

.img_icono1{
    width: 3rem;
    height: 3rem;
}

.iconos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    height: fit-content;
}

.hola{
    border: 10px solid blue;
}

.box-msj{
    display: none;
    position: absolute;
    top: 280px;
    left: 70px;
    border-radius: 10px;
    z-index: 1; /* Sit on top */
    width: 60%; /* Full width */
    height: 10%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9);
}

.parrafo, .titulo_modal{
    display: flex;
    justify-content: center;
    color: white;
}

.inc{
    display: none;
    color: red;
    font-weight: bold;
}